table{
    border-collapse: collapse;
    margin-top: 15px;
    font-size: initial;
    width: 100%;
    color: white;
}
table tr:not(:last-of-type){
    border-bottom: 1px solid #282828;
}
table td{
    padding:10px 0;
}
.player{

    margin-left: -20px;
    overflow: hidden;
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.rhap_container{
    align-content: center;
    background-color: rgb(15, 15,20,0.7);
}
.rhap_container svg{
    color: blue;
}
.rhap_time{
    color: blue;
}
@media screen and (max-width: 960px)
{
Button {
    display: block;
}
.timer{
    display:none;
}
}